table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
table th {
    padding-left: 8px;
    padding-right: 8px;
}
.Pareigos{
    font-size: 10px;
    color: rgb(237, 14, 14);
    text-align: right;
}
.Amžius{
    text-align: center;
}
th{
    background-color: rgb(237, 14, 14);
    color: white;
}